/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
    color: rgb(49, 49, 182);
    text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;

.text-block p {
    @apply .text-xl .font-body .font-light
}
.content-block {
    max-width: 57.625rem;
}
